*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;height: 100%;
    background-color: black;
}

.follower{
    position: absolute;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: #FE330A;
    transition: all ease .1s;
}
.follower1{
    position: absolute;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: #FE330A;
    transition: all ease .1s;
}